quart>=0.20.0
hypercorn>=0.18.0
chdb>=4.1.6
opentelemetry-proto>=1.41.1
cryptography>=47.0.0
httpx>=0.28.1
pandas>=3.0.2
geoip2fast>=1.2.2
sourcemap>=0.2.1
loggingredactor>=0.0.6
jinja-bootstrap-spa @ git+https://github.com/abartrim/jinja-bootstrap-spa.git@fc3d87e31358bd43bfd4cc88cf60d2e814d96718
